NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000
MONGODB_URI=mongodb://127.0.0.1:27017/conectit
SHOPIFY_STORE_DOMAIN=posterdrip.myshopify.com
SHOPIFY_ADMIN_ACCESS_TOKEN=
SHOPIFY_API_VERSION=2026-07
META_GRAPH_API_VERSION=v24.0
META_ACCESS_TOKEN=
WABA_ID=
WHATSAPP_PHONE_NUMBER_ID=
WHATSAPP_VERIFY_TOKEN=change-me
SHIPROCKET_EMAIL=
SHIPROCKET_PASSWORD=
WEBHOOK_SECRET=change-me
